<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/global') %>
  <link rel="stylesheet" href="/styles/share.css">
  <title>Share Folders | File Uploader</title>
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <dialog>
      <form class="folder-form" action="/share/create" method="post">
        <button class="close-modal" type="button"><img src="/images/close.svg" alt="Close modal" /></button>
        <div>
          <label>
            Folders to share:
            <select required multiple name="folders">
              <% if (folders.length > 0) { %>
                <% folders.forEach(folder => { %>
                  <option value="<%= folder.id %>"><%= folder.name %></option>  
                <% }) %>
              <% } %>  
            </select>
          </label>
          <div class="duration-container">
            <p class="duration">Duration:</p>
            <div>
              <label>
                <input name="duration" type="radio" value="1" />
                1 Hour
              </label>
              <label>
                <input name="duration" type="radio" value="5" />
                5 Hours
              </label>
              <label>
                <input name="duration" type="radio" value="24" />
                1 Day
              </label>
              <label>
                <input name="duration" type="radio" value="72" />
                3 Days
              </label>
              <label>
                <input name="duration" type="radio" value="168" />
                1 week
              </label>
            </div>
          </div>
          <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
          <button type="submit">Generate link</button>
        </div>
      </form>
    </dialog>
    <section class="hero">
      <p>This is your shared folders library</p>
      <p>Below are all your folders where you can share them with anyone!</p>
    </section>
    <section class="folders-container">
      <div class="share-folder">
        <button>Share a new folder</button>
      </div>
      <div class="folders-info">
        <p>Name</p>
        <p>URL</p>
      </div>
      <div class="folders">
        <% if (sharedFolders.length > 0) { %>
          <% sharedFolders.forEach(folder => { %>
           <div class="folder">
            <p><%= folder.name %></p>
            <a href="/share/folder/<%= folder.id %>">Link</a>
           </div>
          <% }) %>
        <% } else { %>
          <p class="empty-text">You have no shared folders.</p>
        <% } %>
      </div>
    </section>
  </main>
  <script src="/scripts/share.js"></script>
</body>
</html>