<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/global') %>
  <link rel="stylesheet" href="/styles/storage.css">
  <title>Storage</title>
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <dialog>
      <form class="create-folder-form" action="/storage/folder/create" method="post">
        <button class="close-modal" type="button"><img src="/images/close.svg" alt="Close modal"></button>
        <div>
          <label>
            Folder name:
            <input type="text" name="folderName">
          </label>
          <button type="submit">Create folder</button>
        </div>
      </form>
    </dialog>
    <section class="hero">
      <p>This is your storage library</p>
      <p>Below are all your folders</p>
    </section>

    <section class="folders-container">
      <div class="create-folder">
        <button>Create new folder</button>
          <form class="sort-by">
            <p>Sort by</p>
            <div>
              <label>
                <input type="radio" name="sortBy" value="asc" <%= sortBy === 'asc' || !sortBy ? 'checked' : '' %>>
                Oldest
              </label>
              <label>
                <input type="radio" name="sortBy" value="desc" <%= sortBy === 'desc' ? 'checked' : '' %>>
                Newest
              </label>
            </div>
            <button>Apply</button>
          </form>
      </div>
      <div class="folders-info">
        <p>Name</p>
        <p>Created at</p>
        <p>Updated at</p>
        <p>Options</p>
      </div>
      <div class="folders">
        <% if (folders.length > 0) { %>
          <% folders.forEach(folder => { %>
           <div class="folder">
            <a href="storage/folder/<%= folder.id %>"><%= folder.name %></a>
            <p><%= folder.createdAt %></p>
            <p><%= folder.updatedAt %></p>
            <button><img src="/images/options.svg" alt="Open options"></button>
           </div>
          <% }) %>
        <% } else { %>
          <p class="empty-text">You have no folders.</p>
        <% } %>
      </div>
    </section>
  </main>
  <script src="/scripts/storage.js"></script>
</body>
</html>